.showcase{
    min-height: 400px;
    /*background: url('../img/showcase.jpg'); */
    text-align: center;
    color: #fff;
}

.showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color:#e8491d;
}
.showcase img{
    width: 300px;
    max-height: 300px;
    float: right;
}

.showcase p{
    font-size: 20px;
    float: left;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden; /* i dont want scroll bar , i want content hidden if goes out */
}
footer{
    clear: both;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}
.btn{
    background-color: blue;
    color: white;
    width:'15%';
    margin:auto
}
.bigbtncontainer{
    width: 30%;
    margin: auto;
    
}
.bigbtn{
    width: 100%;
    margin: auto;
    background-color: rgb(62, 108, 194);
color: white;
    
}